@media print{
    aside section:nth-child(n+2){
        display: none;
    }

    #comments{
        display: none;
    }

    .menu{
        display: none;
    }

    a:not(.btn){
        text-decoration: none;
    }

    .post-head .dropdown{
        display: none;
    }

    footer ul li{
        display: none !important;
    }
}